@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

/****** Andy Bell - a modern css reset file ******/
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'], 
ul[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/***** BASICS *****/

:root {
    /* colors */
    --clr-primary-violet: hsl(256, 26%, 20%);
    --clr-primary-blue: hsl(216, 30%, 68%);

    --clr-neutral-dark-violet: hsl(270, 9%, 17%);
    --clr-neutral-dark-grey-violet: hsl(273, 4%, 51%);
    --clr-neutral-light-gray: hsl(0, 0%, 98%);

    /* font stuff */
    --ff-primary: 'Karla', sans-serif;
    --ff-secondary: 'DM Serif Display', serif;

    --fw-reg: 400;
    --fw-bold: 700;

    /* media query stuff */
    --breakpoint-small: 24em;  /* 375px */
    --breakpoint-desktop: 90em;  /* 1440px */
}

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
}

h1, h2 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    line-height: 1;
}

h1 {
    font-size: 3rem;
}

p {
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    line-height: 1.7;
    letter-spacing: 0.05rem;
}

.btn-link--light {
    display: inline-block;
    outline: 2px solid var(--clr-neutral-light-gray);
    margin-top: 2.5rem;
    padding: 0.75rem 1.75rem;
    color: var(--clr-neutral-light-gray);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 0.2rem;
}

.btn-link--light:hover, .btn-link--light:focus {
    background-color: var(--clr-neutral-light-gray);
    color: var(--clr-primary-violet);
}

.btn-link--dark {
    display: inline-block;
    outline: 2px solid var(--clr-primary-violet);
    margin-top: 2.5rem;
    padding: 0.75rem 1.75rem;
    color: var(--clr-primary-violet);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 0.2rem;
}

.btn-link--dark:hover, .btn-link--dark:focus {
    background-color: var(--clr-primary-violet);
    color: var(--clr-neutral-light-gray);
}

/***** UTILITIES *****/

.container {
    width: min(90%, 70rem);
    margin: 0 auto;
}

/***** HEADER / NAV *****/



/***** HERO SECTION *****/

.hero {
    background-color: var(--clr-primary-violet);
    color: var(--clr-neutral-light-gray);
    text-align: center;
    margin-bottom: 6rem;
}

.hero__content {
    padding-block: 6rem;
}

.hero__text {
    color: var(--clr-neutral-light-gray);
    padding-top: 1em;
}


/***** FEATURES SECTION *****/

.features {
    text-align: center;
    position: relative;
}

.features__title {

}

.features__title::before {
    content: '';
    position: absolute;
    border-top: 1px solid #C396C6;
    width: 10rem;
    padding-top: 0.75em;
}

.features__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

.features__item img {
    text-align: center;
}


/***** FIND OUT MORE SECTION *****/

.find-out-more {
    background-color: var(--clr-primary-violet);
    color: var(--clr-neutral-light-gray);
    text-align: center;
    padding-block: 5rem;
    margin-block: 8rem;
}

/***** FOOTER *****/

footer {
    background-color: var(--clr-neutral-light-gray);
    background-image: url('/images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    padding-block: 5.5rem;
}

.footer__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    width: 7rem;
    padding-bottom: 2em;;
}

.social-links {
    display: inline-block;
    border-bottom: 1px solid #DADADA;
    width: 90%;
    padding-bottom: 2.5rem;
}

.social-links__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.footer__content {
    margin-top: 2.5rem;
}

.footer__item {
    text-transform: uppercase;
    /* padding-bottom: 2rem; */
    font-size: 0.8125rem;
    font-weight: var(--fw-bold);
    letter-spacing: 1.5px;
    text-align: center;
}

.footer__item + .footer__item {
    margin-top: 2rem;
}

.footer__item-title {
    font-family: var(--ff-primary);
    font-size: 0.8125rem;
    color: var(--clr-neutral-dark-grey-violet);
    padding-bottom: 2rem;
}

.footer__list {
    line-height: 2.2;
}


.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
