/****** Andy Bell - a modern css reset file ******/
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'], 
ul[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/***** BASICS *****/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
    /* colors */
    --clr-primary-violet: hsl(256, 26%, 20%);
    --clr-primary-blue: hsl(216, 30%, 68%);

    --clr-neutral-dark-violet: hsl(270, 9%, 17%);
    --clr-neutral-dark-grey-violet: hsl(273, 4%, 51%);
    --clr-neutral-light-gray: hsl(0, 0%, 98%);

    /* font stuff */
    --ff-primary: 'Karla', sans-serif;
    --ff-secondary: 'DM Serif Display', serif;

    --fw-reg: 400;
    --fw-bold: 700;

    /* media query stuff */
    --breakpoint-small: 24em;  /* 375px */
    --breakpoint-desktop: 90em;  /* 1440px */
}

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
}

h1, h2 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    line-height: 1;
}

h1 {
    font-size: 3rem;
}

.btn-link {
    display: block;
    color: var(--clr-neutral-light-gray);

}

.btn-link--light {

}

.btn-link--dark {

}

/***** UTILITIES *****/

.container {
    width: min(90%, 70rem);
    margin: 0 auto;
}

/***** HEADER / NAV *****/



/***** HERO SECTION *****/

.hero {
    background-color: var(--clr-primary-violet);
    color: var(--clr-neutral-light-gray);

    text-align: center;
}


/***** FEATURES SECTION *****/

.features {
}


/***** FIND OUT MORE SECTION *****/

.find-out-more {

}

/***** FOOTER *****/



.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
