@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

/****** Andy Bell - a modern css reset file ******/
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ul[class] {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/***** BASICS *****/

:root {
    /* colors */
    --clr-primary-violet: hsl(256, 26%, 20%);
    --clr-primary-blue: hsl(216, 30%, 68%);

    --clr-neutral-dark-violet: hsl(270, 9%, 17%);
    --clr-neutral-dark-grey-violet: hsl(273, 4%, 51%);
    --clr-neutral-light-gray: hsl(0, 0%, 98%);

    /* font stuff */
    --ff-primary: "Karla", sans-serif;
    --ff-secondary: "DM Serif Display", serif;

    --fw-reg: 400;
    --fw-bold: 700;

    /* media query stuff */
    --breakpoint-small: 375px; /* 375px */
    --breakpoint-desktop: 1440px; /* 1440px */
}

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
}

h1,
h2 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    line-height: 1;
}

h1 {
    font-size: 3rem;
}

p {
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    line-height: 1.5;
}

.btn-link--light {
    display: inline-block;
    outline: 1.5px solid var(--clr-neutral-light-gray);
    margin-top: 2.5rem;
    padding: 0.75rem 1.75rem;
    color: var(--clr-neutral-light-gray);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: var(--fw-bold);
    letter-spacing: 0.1rem;
}

.btn-link--light:hover,
.btn-link--light:focus {
    background-color: var(--clr-neutral-light-gray);
    color: var(--clr-primary-violet);
}

.btn-link--dark {
    display: inline-block;
    outline: 1.5px solid var(--clr-primary-violet);
    margin-top: 2.5rem;
    padding: 0.6rem 1.6rem;
    color: var(--clr-primary-violet);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: var(--fw-bold);
    letter-spacing: 0.1rem;
}

.btn-link--dark:hover,
.btn-link--dark:focus {
    background-color: var(--clr-primary-violet);
    color: var(--clr-neutral-light-gray);
}

/***** UTILITIES *****/

.container {
    width: min(90%, 70rem);
    margin: 0 auto;
}

/***** HEADER / NAV *****/

.nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.25em 1em;
}

.nav--fixed {
    overflow-y: hidden;
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
}

.nav__toggle-icon-closed,
.nav__toggle-icon-opened {
    cursor: pointer;
    display: block;
}

.nav__toggle-icon--hidden {
    display: none;
}

.nav__list {
    width: 100%;
    height: 0;
    display: none;
}

.nav__list--show {
    display: block;
    overflow: hidden !important;

    background-color: var(--clr-neutral-dark-violet);
    background-image: url("/images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom;

    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100vh - 4.5rem);
    z-index: 10;
}

.nav__list--show .nav__item {
    text-align: center;
    margin-top: 2em;
}

.nav__list--show .nav__item a {
    color: var(--clr-neutral-light-gray);
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
}

.nav__list--show .btn-link--dark {
    width: 90%;
    outline: 1.5px solid var(--clr-neutral-light-gray);
    color: var(--clr-neutral-light-gray);
    font-size: 1.25rem;
    margin-top: 0;
}

.nav__list--show .btn-link--dark:hover,
.nav__list--show .btn-link--dark:focus {
    background: var(--clr-neutral-light-gray);
    color: var(--clr-neutral-dark-violet);
}

.nav__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-neutral-dark-grey-violet);
    font-size: 0.8125rem;
}

@media (min-width: 75em) {
    .nav {
        flex-wrap: nowrap;
        width: min(90%, 70rem);
        margin: 0 auto;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        width: inherit;
        visibility: visible;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2.5rem;
        height: auto;
        /* justify-content: flex-end; */
        /* justify-content: flex-end; */
    }

    .nav__item {
        margin-top: 0;
    }

    .nav__link {
        font-weight: var(--fw-bold);
    }

    .nav__link:hover {
        color: var(--clr-neutral-dark-violet);
    }

    .nav__item .btn-link--dark {
        /* width: 3rem; */
        margin-top: 0;
        padding: ;
    }
}

/***** HERO SECTION *****/

.hero {
    background-color: var(--clr-primary-violet);

    color: var(--clr-neutral-light-gray);
    text-align: center;
    margin-bottom: 6rem;
}

.hero__image {
    width: 100%;
}

.hero__content {
    background-image: url("/images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left;
    overflow-y: visible;
    padding-block: 6rem;
    position: relative;
}

.hero__content::before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 115%;
    background-image: url("/images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.hero__text {
    color: var(--clr-neutral-light-gray);
    padding-top: 1em;
    padding-inline: 0.5em;
}

.btn-link--light {
    position: relative;
}

@media (min-width: 75em) {
    .hero {
        background-image: url("/images/bg-pattern-intro-right-desktop.svg");
        background-repeat: no-repeat;
        background-position: top right;
        z-index: 100;
        position: relative;
    }

    .hero::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 160%;
        background-image: url("/images/bg-pattern-intro-left-desktop.svg");
        background-repeat: no-repeat;
        background-position: bottom left;
    }

    .hero-container {
        width: min(90%, 70rem);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    .hero__image {
        width: max(30rem, 15rem);
        margin-top: 5rem;
        overflow: visible;
        position: absolute;
        right: calc(100vw - 88%);
    }

    .hero__content {
        background: none;
        text-align: left;
        flex-basis: 50%;
        justify-self: left;
        padding-block: 5rem;
        margin-inline: 0;
    }

    .hero__content::before {
        background: none;
    }

    .hero__content .container {
        margin-inline: 0;
        margin-left: 1em;
    }

    .hero__title {
        font-size: 4.5rem;
        padding-top: 0.75em;
    }

    .hero .stripe {
        display: inline-block;
        border-top: 2px solid var(--clr-neutral-light-gray);
        width: 9rem;
    }
}

/***** FEATURES SECTION *****/

.features {
    text-align: center;
    position: inherit;
}

.features__title {
    font-weight: var(--fw-reg);
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}

.features .stripe {
    display: inline-block;
    border-top: 2px solid #c396c6;
    width: 9rem;
}

.features__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.features__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__item-image {
    width: 5rem;
}

.features__item h2 {
    padding-top: 1.5em;
    padding-bottom: 0.75em;
}

.features__item p {
    color: var(--clr-neutral-dark-grey-violet);
}

@media (min-width: 75em) {
    .features {
        text-align: start;
    }

    .features__list {
        flex-direction: row;
    }

    .features__item {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
    }

    .features__item + .features__item {
        margin-top: 0;
    }
}

/***** FIND OUT MORE SECTION *****/

.find-out-more {
    background-color: var(--clr-primary-violet);
    background-image: url("/images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    color: var(--clr-neutral-light-gray);
    text-align: center;
    padding-block: 5rem;
    margin-block: 8rem;
}

.find-out-more h1 {
    font-size: 2.5rem;
    font-weight: var(--fw-reg);
}

@media (min-width: 75em) {
    .find-out-more {
        background-image: url("/images/bg-pattern-how-we-work-desktop.svg");
        background-repeat: no-repeat;
        background-position: top right;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        padding-block: 4rem;
        padding-inline: 4rem;

        text-align: start;
    }

    .find-out-more h1 {
        font-size: 4rem;
        max-width: 35rem;
    }

    .find-out-more a {
        flex-basis: 20%;
        margin-top: 0;
        text-align: center;
    }
}

/***** FOOTER *****/

footer {
    background-color: var(--clr-neutral-light-gray);
    background-image: url("/images/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    padding-block: 5.5rem;
}

.footer__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dadada;
    width: min(90%, 70rem);
    padding-bottom: 2.5rem;
}

.footer__logo {
    width: 7rem;
    padding-bottom: 2em;
}

.social-links {
    display: inline-block;
    /* border-bottom: 1px solid #DADADA;
    width: 90%;
    padding-bottom: 2.5rem; */
}

.social-links__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.footer__content {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.footer__item {
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: var(--fw-bold);
    letter-spacing: 1.5px;
    text-align: center;
}

.footer__item + .footer__item {
    margin-top: 2rem;
}

.footer__item-title {
    font-family: var(--ff-primary);
    font-size: 0.8125rem;
    color: var(--clr-neutral-dark-grey-violet);
    padding-bottom: 2rem;
}

.footer__list {
    line-height: 2.2;
}

@media (min-width: 75em) {
    footer {
        background-image: url("/images/bg-pattern-footer-desktop.svg");
    }

    .footer__header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__logo {
        padding-bottom: 0;
    }

    .social-links {
        padding-bottom: 0;
        width: 100%;
    }

    .social-links__list {
        justify-content: flex-end;
    }

    .footer__content {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .footer__item {
        text-align: start;
        flex-basis: 25%;
    }

    .footer__item + .footer__item {
        margin-top: 0;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
